@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(0deg, rgb(40, 40, 41) 0%, rgb(121, 121, 128) 72%);
}

body {
  min-height: 100vh;
  background: linear-gradient(0deg, rgb(40, 40, 41) 0%, rgb(121, 121, 128) 72%);
  overflow: overlay;
  overflow-x: hidden;
}

h1 {
  text-align: center;
}

/* Scrollbar */
*::-webkit-scrollbar {
  background-color: rgb(121, 121, 128);
  width: 10px;
}

/* Scrollbar thumb */
*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}